body{
    background-color: #e0f8f9;
}
:root {
    --primary:#14bec7 ;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0e485c;
    --btnglow: #f4b92f;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

a:hover{
    color: var(--primary);
}

#main-title{
    color: var(--primary);
}

.text-primary{
    color: var(--primary)!important;
}
.text-primary-main{
    color: #f4b92f;
}
.bg-dark{
    background-color: #0e485c !important;
}
.bg-light{
    background-color: #e0f8f9!important;
}
.bg-primary-search{
    background-color: var(--primary);
}
.bg-primary{
    background-color: #f4b92f !important;
}

.btn-filter{
    background-color: var(--btnglow);
    color: white;
}


.btn-filter:hover, .btn-filter:focus, .btn-filter:active{
    background-color: var(--dark);
    color: white;
    box-shadow: none!important;
}

.searchbar{
    padding-left: 4rem;
    padding-right: 4rem;
}

.location{
    font-size: 14px;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-primary{
    background-color: #f4b92f;
    border-color: #f4b92f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: var(--primary);
    border-color: var(--primary)!important;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}
.btn-dark{
    background-color: var(--dark);
    border-color: var(--dark);
}



/*** Navbar ***/
.nav-bar {
    position: relative;
    margin-top: 45px;
    padding: 0 3rem;
    transition: .5s;
    z-index: 4;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 4;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}



.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (min-width: 992px) {
    .header {
        margin-top: -150px;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
    .searchbar{
        padding-left: 0;
        padding-right: 0;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #DDDDDD;
}


/*** Icon ***/
.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    /* border-radius: 50px;
    border: 1px dashed var(--primary) !important; */
    border-right: 1px solid var(--primary);
}


/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}


/*** Category ***/
.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 185, 142, .3);
    transition: .5s;
}

.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}


/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 0;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 576px) {
    #contactbutton{
        margin-top: 15px;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* Animations */

/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* Glowing Buttons */

@keyframes glowing {
    0% { box-shadow: 0 0 -10px var(--btnglow); }
    40% { box-shadow: 0 0 30px var(--btnglow); }
    60% { box-shadow: 0 0 30px var(--btnglow); }
    100% { box-shadow: 0 0 -10px var(--btnglow); }
  }
  
  .btn-glow {
    animation: glowing 2000ms infinite;
  }

  @keyframes glowing-hover {
    0% { box-shadow: 0 0 -10px var(--primary); }
    40% { box-shadow: 0 0 30px var(--primary); }
    60% { box-shadow: 0 0 30px var(--primary); }
    100% { box-shadow: 0 0 -10px var(--primary); }
  }
  .btn-glow:hover {
    animation: glowing-hover 2000ms infinite;
  }

  
/* Scroll Bar */
::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 30px;
    background-clip: padding-box;
  }

/* Mobile Menu */

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--primary);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}


  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:30px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover{
    color: white;
}
.my-float{
	margin-top:16px;
}
.modal{
    z-index: 999999;
}

.one-filter-location, .one-filter-developer{
    text-decoration: underline;
    color: #666565!important;
}


.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 17px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: var(--primary);
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }

.btn-filters{
    border-radius: 20px;
    min-width: 130px;
    color: var(--dark);
    border-color: var(--dark);
}

.btn-filters-active{
    background-color: var(--btnglow);
    color: white;
    border-color: var(--btnglow);
}

.btn-filters:hover{
    background-color: var(--btnglow);
    color: white;
    border-color: var(--btnglow);
}

.btn-filters-inner{
    border-radius: 20px;
    width: 290px;
    margin: 0 auto;
    margin-bottom: 15px;
    color: var(--dark);
    border-color: var(--dark);
    background-color: #fff;
}
.btn-filters-inner:hover{
    color: var(--dark);
    border-color: var(--dark);
    background-color: #fff;
}
.btn-filters-inner:active{
    color: white;
    background-color: var(--primary);
}
.filter_res{
    text-align: center;
}
.searchbar_filter{
    width: 290px; 
    border-radius: 20px;
    border-color: var(--dark);
    padding: .375rem .75rem;
    color: var(--dark);
    border: 1px solid;

}

.search_block form {
	background-color: #fff;
	border-radius: 40px;
	border: 1px solid var(--dark);
	padding: .375rem .75rem;
	display: flex;
	align-items: center;
	gap: 10px;
    width: 290px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search_btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}
.search_icon{
    color: var(--dark);
    font-size: 20px;
    margin-top: 5px;
}
.search_input {
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	width: 80%;
    margin-top: 2px;
    color: var(--dark);
}
.search_input::placeholder{
    color: var(--dark);
}
.list-group-item{
    border: 0;
    padding: .5rem .5rem;
}

.indicate-scroll{
    animation: scrollAnimation 0.8s infinite alternate;
}
@keyframes scrollAnimation {
to {
transform: translateX(5px); /* Adjust the distance to scroll */
}
}


.modal.fade .modal-dialog {
    transition: transform .5s ease-out;
    transform: translate(0,50px);
}
.modal-dialog {
  position: fixed !important;
  bottom: 0 !important;
  left: 0% !important;
  right: 0% !important;
  margin-bottom: 0 !important;
      
} 
.modal-dialog-scrollable .modal-content{
    min-height: 100%;
}

.modal.show .modal-dialog {
    transform: none;
}

.modal-content {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  
}

.modal-title{
    margin-top: 10px;
    margin-left: 10px;
}
.list-group-horizontal {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.list-group-horizontal::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.modal-dialog{
    max-width: 500px;
    margin: 0 auto;
}

#reviews{
    scroll-margin-top: 300px;
    scroll-snap-margin-top:300px;
}
#contact{
    scroll-margin-top: 300px;
    scroll-snap-margin-top:300px;
}